#### joe made this: http://goel.io/joe

#### scala ####
*.class
*.log

.terraform/
*.tfstate*
open-targets-genetics-63ea40a7fb68.json

/project/.boot
/project/.ivy

/*.csv
/*.conf
.bsp
.bloop


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#### sbt ####
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.idea/
.lib/
out/

worksheets/data/
.vscode/
.metals/
.bsp/
outputs/
project/.bloop
project/metals.sbt
project/project/

